/* Container */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Cache l'image source */
.cropper-container > img {
  display: none !important;
}

/* Wrap box */
.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Canvas */
.cropper-canvas {
  overflow: hidden;
}

/* Drag box */
.cropper-drag-box {
  background-color: transparent;
  opacity: 0;
}

/* Modal overlay */
.cropper-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Crop box */
.cropper-crop-box {
  box-sizing: border-box;
  outline: 1px solid #39f;
}

/* View box (zone sélectionnée) */
.cropper-view-box {
  box-sizing: border-box;
  outline: 1px solid #fff;
  outline-color: rgba(255, 255, 255, 0.75);
}

/* Guides (grille) */
.cropper-dashed {
  border: 0 dashed rgba(255, 255, 255, 0.5);
  position: absolute;
}

.cropper-dashed.h {
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 33.3%;
  left: 0;
  right: 0;
}

.cropper-dashed.v {
  border-left-width: 1px;
  border-right-width: 1px;
  width: 33.3%;
  top: 0;
  bottom: 0;
}

/* Center cross */
.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: #fff;
}

/* Move handles */
.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
  box-sizing: border-box;
  background-color: #39f;
}

.cropper-line {
  background-color: rgba(255, 255, 255, 0.75);
}

.cropper-line.n {
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  cursor: n-resize;
}

.cropper-line.s {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  cursor: s-resize;
}

.cropper-line.e {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  cursor: e-resize;
}

.cropper-line.w {
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  cursor: w-resize;
}

/* Points (coins) */
.cropper-point {
  width: 5px;
  height: 5px;
  opacity: 0.75;
  background-color: #39f;
}

.cropper-point.n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize;
}

.cropper-point.s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize;
}

.cropper-point.e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize;
}

.cropper-point.w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize;
}

.cropper-point.ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize;
}

.cropper-point.nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize;
}

.cropper-point.se {
  bottom: -3px;
  right: -3px;
  cursor: se-resize;
}

.cropper-point.sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize;
}